
.container {
    background-color: lightsalmon;
    width: 80%;
    height: 100%;
    overflow-x: hidden;
    margin: auto;
}

.title {
    text-align: center;
    color: #e43d44;
}

.ops {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.ops .btn {
    padding: 12px 14px;
    width: 20%;
    font-size: 2em;
    font-weight: bold;
    margin: 2px;
    border: none;
    cursor: pointer;
}

.btn:active {
    background-color: aquamarine;
    color: crimson;
}

.btn-warning {
    background-color: cadetblue;
    color:brown;
}

.btn-success {
    background-color: chartreuse;
}

.output {
    height: 150px;
    background-color: lightgray;
    border: 1px solid #000;
    padding: 0px 10px;
}

.ouput h5 {
    margin-top: 0px;
    color: sandybrown;
    font-weight: bold;
    font-size: 2em;
}

.output h3 {
    text-align: right;
    font-size: 3em;
    color: #000;
}